body{
    display: block;
    text-align: center;
}

#prep, #beginTheFun, #enemyDestroyed, #debugging, #game{
    display: none;
}

#hiad{
    font-weight: bolder;
    font-size: xx-large;
    color: red;
}

